In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
df = pd.read_csv('/content/navie.csv')
df.head()

   Outlook   climate play
0        0     Rainy  Yes
1        1     Sunny  Yes
2        2  Overcast  Yes
3        3  Overcast  Yes
4        4     Sunny   No

In [ ]:
df.describe()

       Outlook
count  14.0000
mean    6.5000
std     4.1833
min     0.0000
25%     3.2500
50%     6.5000
75%     9.7500
max    13.0000

In [ ]:
inputs=df['climate']
inputs

0        Rainy
1        Sunny
2     Overcast
3     Overcast
4        Sunny
5        Rainy
6        Sunny
7     Overcast
8        Rainy
9        Sunny
10       Sunny
11       Rainy
12    Overcast
13    Ovsecast
Name: climate, dtype: object

In [ ]:
target=df['play']
target

0     Yes
1     Yes
2     Yes
3     Yes
4      No
5     Yes
6     Yes
7     Yes
8      No
9      No
10    Yes
11     No
12    Yes
13    Yes
Name: play, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
inputs1=pd.DataFrame()
y=LabelEncoder()
inputs1['x_n']=y.fit_transform(inputs)
inputs1['x_n']

0     2
1     3
2     0
3     0
4     3
5     2
6     3
7     0
8     2
9     3
10    3
11    2
12    0
13    1
Name: x_n, dtype: int64

In [ ]:
target1=pd.DataFrame()
target1['y_n']=y.fit_transform(target)
target1['y_n']

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     1
8     0
9     0
10    1
11    0
12    1
13    1
Name: y_n, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(inputs1,target1,random_state=42,test_size=0.50)

In [ ]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
X_train

    x_n
1     3
13    1
4     3
7     0
10    3
3     0
6     3

In [ ]:
X_test

    x_n
9     3
11    2
0     2
12    0
5     2
8     2
2     0

In [ ]:
print(clf.predict(X_test))
print(clf.predict([[3]]))

[0 1 1 1 1 1 1]
[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,clf.predict(X_test)))

0.7142857142857143